@font-face {
  font-family: 'Inconsolata';
  src: url('./Inconsolata/Inconsolata.ttf') format('truetype');
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  font-variation-settings: 'wdth' 100;
  font-optical-sizing: auto;
}
