.card {
  border-radius: 1rem;
  width: 20rem;
  border: 1px solid #dcdcdc;
  border-left: 2rem solid #1a742a;
}

.header {
  padding: 1rem;
  font-weight: bold;
}

.content {
  padding: 1rem;
  border-top: 1px solid #dcdcdc;
  text-align: right;
}