.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.left {
  flex: 0 1 auto;
  overflow: hidden;
  max-width: calc(100% - 224px - 24px);
}

.right {
  flex: 1 1 224px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 8px;
}